.navbar {
    background: linear-gradient(90deg, #ee6ef5,#57b9ff);
    margin: 15px;
    border-radius: 25px;
}
.navbar .navbar-toggler {
    border: none;
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
.navbar .nav-link {
    color: white;
    font-size: large;
}
.btn-1 {
    background-color: #4a0194;
    padding: 8px 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.4s background-color;
}

.btn-1:hover {
        background-color: #992fc4;
    }

.fondo {
    background:url(/GamerByte-main/images/31.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
